<ion-header>
  <ion-toolbar>
    <ion-title>Timer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="center">
    <p class="t1">Your <span ><strong class="t2">Timer</strong></span></p>


    <input [(ngModel)]="hours" type="number" min="0" max="60">
    <input [(ngModel)]="minutes"  type="number"  min="0" max="60">
    <input [(ngModel)]="seconds"  type="number" min="0" max="60">
<br><br>

    <button (click)="startTimer()">start</button>
    <button (click)="pause()">pause</button>
    <button (click)="resume()">resume</button>


<br><br>
    <input type="text">
    <p >{{timer()}}</p>
</div>

</ion-content>